.red-box {
    background-color: red;
    color: white;
  }
  
  .blue-box {
    background-color: blue;
    color: white;
  }
  
  .green-box {
    background-color: green;
    color: white;
  }
  
  .default-box {
    background-color: gray;
    color: white;
  }
  