

<div>
    <h2>Reactive Form</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email"  formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea formControlName="message" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  
  {{myForm.value | json }}